body {
    font-family: 'Montserrat' !important;
    /* font-family: 'Poppins' !important; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
  }
  
  
  #root {
    height: 100vh;
  }
  
  
  :root {
  
    --font-size-small-label: 0.9rem;
    --font-size-medium: 1rem;
    --tab-heading-font-size: 0.8rem;
    --font-size-large: 20px;
    --font-size-button: 0.9rem;
    --primary-color: #242A42;
    --button-color: #CE6F1D;
    --button-hover-color: #d87117;
    --secondary-color: #F2F2F2;
     --tertiary-color: #242A42;
    --common-heading-color: #FFF;
    --dashboard-heading-color: linear-gradient(357.69deg, #CF6F1E -23.54%, #FFE7D2 66.26%);
    /* Main Table heading or main heading otp in the Page */
    --main-heading-color: #0C0C0C;
  --backgroundcolor-pages: #EDEDED;
    /* Table Heaading Color */
    --common-table-heading-color: #DAE2F6;
  
    /* --common-login-background-color: #C5E4FB; */
    --common-login-background-color: #FFFFFF;
    --common-login-box-background-color: #FFFFFF;
  
    /* Card background */
    --common-card-background-color: linear-gradient(274deg, #242A42 0.5%, #2E0101 104.74%);
      /* Body Background Color */
      --body-background-color: #FFFBF2;
  
    /* --------------------------New Theme----------------------------------- */
    --theme-background-color: #424242;
    --theme-background-content-color: #212121;
    --theme-text-color: #fff;
  
  }