body {
  font-family: 'Montserrat' !important;
  /* font-family: 'Poppins' !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
}


#root {
  height: 100vh;
}
